<section class="hero">
    <div class="hero-content">
      <h1>A empresa número <span>#1</span> na área de terraplenagem</h1>
      <div class="stats">
        <div class="stat-item">
          <div class="stat-number">+200</div>
          <div class="stat-label">obras feitas em SP</div>
        </div>
        <div class="stat-item">
          <div class="stat-number">+100</div>
          <div class="stat-label">recomendações</div>
        </div>
        <div class="stat-item">
          <div class="stat-number">+20</div>
          <div class="stat-label">máquinas para locação</div>
        </div>
      </div>
    </div>
  </section>
