<section class="services">
    <h2>Obras feitas em São Paulo</h2>
    <div class="services-grid">
      <div class="service-card">
        <div class="service-image" style="background-image: url('/assets/landing-img/h-101-jpg0.png')"></div>
        <h3>Demolição</h3>
        <p>+20 feitas</p>
      </div>
      <div class="service-card">
        <div class="service-image" style="background-image: url('/assets/landing-img/h-102-jpg0.png')"></div>
        <h3>Nivelamentos</h3>
        <p>+30 feitas</p>
      </div>
      <div class="service-card">
        <div class="service-image" style="background-image: url('/assets/landing-img/h-103-jpg0.png')"></div>
        <h3>Escavações</h3>
        <p>Especialidade no ramo</p>
      </div>
      <div class="service-card">
        <div class="service-image" style="background-image: url('/assets/landing-img/h-104-jpg0.png')"></div>
        <h3>Remoção de entulho</h3>
        <p>Temos aterros documentados</p>
      </div>
      <div class="service-card">
        <div class="service-image" style="background-image: url('/assets/landing-img/h-105-jpg0.png')"></div>
        <h3>Limpeza de terrenos</h3>
        <p>Equipe preparada para o trabalho</p>
      </div>
    </div>
  </section>