<footer class="footer">
    <div class="footer-content">
      <div class="copyright">
        Copyright © 2025. Shark Fera Terraplenagem
      </div>
      <div class="footer-logo">
        <img src="/assets/landing-img/shark-fera-logo-no-bg-90.png" alt="Shark Fera Logo">
      </div>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>