<section class="differentials">
    <h2>Diferenciais</h2>
    <div class="differentials-content">
      <div class="differentials-image"></div>
      <div class="differentials-list">
        <p>A Shark Terraplenagem tem o compromisso em garantir eficiência no seu atendimento, desde o primeiro contato.</p>
        <ul>
          <li>Frota Própria</li>
          <li>Cadastro de mais de 300 motoristas parceiros</li>
          <li>Compromisso com prazo de entrega das obras</li>
          <li>Serviço de Consultoria de Projeto</li>
          <li>Equipe especializada para liberações de documento</li>
        </ul>
        <p>Nosso compromisso é prestar o melhor serviço para você e seu projeto!</p>
      </div>
    </div>
  </section>
