<section class="about">
    <h2>Sobre nossa empresa</h2>
    <p class="company-name">Shark Fera Terraplenagem</p>
    
    <div class="about-content">
      <div class="about-text">
        <h3>Como tudo começou</h3>
        <p>Somos uma empresa dedicada à prestação de serviços de terraplanagem com excelência e comprometimento. Com mais de 14 anos de experiência no mercado, oferecemos soluções completas e personalizadas para atender às necessidades de nossos clientes.</p>
        <p>Visando também o compromisso ambiental, pois estamos comprometidos com práticas sustentáveis em todas as nossas operações. Adotamos medidas para minimizar o impacto ambiental de nossas atividades, garantindo a preservação dos recursos naturais.</p>
        <p>Fazendo o descarte de materiais nos locais autorizados pelos órgãos responsáveis pela fiscalização desses resíduos e com autorização de movimentação de cargas de descarte pela Amlurb.</p>
      </div>
    </div>
  </section>